/*селектор всех потомков*/
.parent .child {
	color:blue;
	margin-left: 5px;
}
/*селектор прямых потомков*/
.parent > .child {
	color: green;
}
/*селектор сестринских элементов*/
h1+div {
	font-weight: bold;
}